.skills-charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;

  &__container {
    @include flexbox;
    font-size: 2rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 5px 7px 10px rgba(44, 44, 44, 0.466),
      -1px -1px 10px rgba(44, 44, 44, 0.466);

    .fab {
      font-size: 3.5rem;
      margin-right: 1rem;
    }

    .fa-html5 {
      color: #f06529;
    }

    .fa-css3-alt {
      color: #2965f1;
    }

    .fa-js-square {
      color: #f0db4f;
    }

    .fa-java {
      font-weight: 600;
      color: #f89820;
    }
  }
}
