@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Vairables */
:root {
  --main-font: "Montserrat", sans-serif;
  --body-color: #fff;
  --main-font-blue-color: #2c9ffd;
  --secondary-font-black-color: #000;
  --menu-font-color: #fff;
  --menu-bg-color: #002466;
  --hover-font-color: rgb(251, 255, 44);
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
html {
  font-family: var(--main-font);
  font-size: 10px;
  color: var(--secondary-font-black-color);
  scroll-behavior: smooth;
  background-color: var(--body-color);
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.global-headline {
  margin-bottom: 4rem;
  font-size: 3rem;
  color: var(--main-font-blue-color);
  border-bottom: solid 4px var(--main-font-blue-color);
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content {
  margin-bottom: 10rem;
}

/* Header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}

header .container {
  padding: 2rem 0;
}

.nav-bar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 40%;
  height: 60%;
}

.nav-list {
  background-color: var(--menu-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.7s ease-out;
}

.nav-link {
  color: var(--menu-font-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  transition: color 0.5s;
  letter-spacing: 4px;
}

.nav-link:hover {
  color: var(--hover-font-color);
}

.menu-toggle {
  font-size: 3rem;
  padding-right: 3rem;
  cursor: pointer;
  z-index: 2500;
}

.fa-times {
  display: none;
}

.open .menu-toggle {
  position: fixed;
  right: 0;
  color: var(--menu-font-color);
  font-size: 3.5rem;
  transition: color 0.5s;
}

.open .menu-toggle:hover {
  color: var(--hover-font-color);
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

/* Hero */
#hero .container {
  justify-content: initial;
  flex-direction: initial;
  min-height: 100vh;
}

.greeting-wrapper {
  font-size: 2.5rem;
}

.headline {
  line-height: 5.5rem;
  margin-bottom: 1rem;
}

.my-name {
  font-size: 5.5rem;
  color: var(--main-font-blue-color);
}

.sub-headline {
  font-weight: 500;
  margin-bottom: 2rem;
}

.cta {
  background-color: var(--main-font-blue-color);
  color: var(--menu-font-color);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  padding: 5% 10%;
  transition: color 0.5s;
}

.cta:hover {
  color: var(--hover-font-color);
}

/* About */
#about .global-headline {
  margin-top: initial;
}

.about-img-container {
  width: 60%;
  margin: 0 auto 3rem auto;
}

.about-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-name {
  font-size: 3.5rem;
  color: var(--main-font-blue-color);
  margin-bottom: 1.5rem;
}

/* Skills */
.skills-description-headline {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.skills-description {
  margin-bottom: 1.5rem;
}

.skill-chart {
  display: flex;
  font-size: 1.7rem;
}

.skill-chart .fab {
  color: var(--main-font-blue-color);
  font-size: 3.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.skill-name,
.skills-percent {
  padding-top: 0.8rem;
}

.skill-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.percent-bar {
  margin-bottom: 4rem;
  width: 100%;
  height: 4px;
  background-color: var(--main-font-blue-color);
}

#html-percent-bar {
  width: 90%;
}

#css-percent-bar {
  width: 85%;
}

#js-percent-bar {
  width: 80%;
}

.skills-img {
  margin-top: 2rem;
}

/* Portfolios */
.project {
  margin-bottom: 6rem;
}

.project:last-of-type {
  margin-bottom: initial;
}

.project-preview {
  margin-top: 1.5rem;
}

.project-title {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-font-blue-color);
}

/* Contact */
#contact .container {
  margin-bottom: 5rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form:last-child {
  display: initial;
}

#subjects,
.input,
.message {
  margin-bottom: 2rem;
  width: 80vw;
  height: 5rem;
  border: 2px solid var(--secondary-font-black-color);
  border-radius: 10px;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.message {
  height: 15rem;
  padding-top: 15px;
  font-size: 1.8rem;
}

#submit-btn {
  border: none;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--menu-bg-color);
  color: var(--menu-font-color);
}

footer .container {
  padding: 5rem 0;
}

.footer-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 3.5rem;
  margin: 1.5rem 0;
}

.footer-links {
  cursor: pointer;
}

.fa-facebook-square {
  transition: color 0.5s;
}

.fa-facebook-square:hover {
  color: #229bff;
}

.fa-instagram-square {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-instagram-square:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter-square {
  transition: color 0.5s;
}

.fa-twitter-square:hover {
  color: #00acee;
}

.footer-copyright {
  font-size: 1.2rem;
}

/* Media Query - 600px*/
@media screen and (min-width: 600px) {
  p {
    font-size: 2rem;
    line-height: 3rem;
  }

  .logo {
    width: 30%;
  }

  .nav-link {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 7px;
  }

  .menu-toggle {
    font-size: 4rem;
    padding-right: 4rem;
  }

  .open .menu-toggle {
    right: -1.5rem;
    font-size: 5rem;
  }

  .greeting-wrapper {
    font-size: 4.5rem;
  }

  .headline {
    line-height: 8rem;
    margin-bottom: 1rem;
  }

  .my-name {
    font-size: 8rem;
  }

  .sub-headline {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .cta {
    font-size: 2.5rem;
    border-radius: 10px;
    padding: 5% 10%;
  }

  .about-name {
    font-size: 4.5rem;
  }

  #submit-btn {
    font-size: 2rem;
  }

  .footer-links {
    font-size: 4.5rem;
  }

  .footer-copyright {
    font-size: 1.5rem;
  }
}

/* Media Query - 900px*/
@media screen and (min-width: 900px) {
  .global-headline {
    margin-bottom: 8rem;
    font-size: 4rem;
  }

  .content {
    margin-bottom: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .logo {
    width: 20%;
  }
  .nav-list {
    background-color: initial;
    position: relative;
    top: -0.5rem;
    margin-right: 2rem;
    width: 70vw;
    height: initial;
    padding: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: initial;
    transition: initial;
  }

  .nav-link {
    color: var(--main-font-blue-color);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .nav-link:hover {
    color: var(--secondary-font-black-color);
  }

  .active {
    padding-bottom: 0.5rem;
    border-bottom: solid 3px;
  }

  .menu-toggle {
    display: none;
  }

  .headline {
    margin-bottom: 2rem;
  }

  .sub-headline {
    margin-bottom: 2rem;
  }

  .about-img-container {
    margin: auto auto;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-name {
    font-size: 6rem;
  }

  .skills-charts-container {
    padding: 2rem 0;
  }

  .skills-img {
    display: none;
  }

  .project-img {
    height: 250px;
  }

  .project-description {
    font-size: 1.6rem;
    padding: 0 2rem;
  }

  #contact-form {
    text-align: center;
  }

  #subjects,
  .input,
  .message {
    margin-bottom: 3rem;
    width: 50vw;
  }

  .message {
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  #submit-btn {
    width: 12vw;
    margin-right: 42%;
  }

  footer .container {
    padding: 5rem 0 3rem 0;
  }

  footer .logo {
    width: 25%;
  }

  .footer-links {
    width: 30%;
    justify-content: space-around;
    font-size: 5rem;
    margin: 3rem 0;
  }

  .footer-copyright {
    font-size: 1.5rem;
  }
}

/* Media Query - 1200px*/
@media screen and (min-width: 1200px) {
  .global-headline {
    margin-bottom: 10rem;
    font-size: 5rem;
  }

  #portfolios .content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logo {
    width: 15%;
  }

  .nav-list {
    margin-right: 2rem;
    width: 60vw;
  }

  .headline {
    margin-bottom: 1rem;
  }

  .greeting-wrapper {
    font-size: 4.5rem;
  }

  .my-name {
    font-size: 10rem;
  }

  .sub-headline {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .cta {
    font-size: 2rem;
    padding: 3% 7%;
  }

  .about-name {
    font-size: 7.5rem;
  }

  .about-description {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }

  .skills-description-headline {
    font-size: 4.5rem;
  }

  .skills-description {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }

  .skills-charts-container {
    padding: 0 10rem;
  }

  .project-title {
    font-weight: 700;
  }

  .project-description {
    font-size: 1.6rem;
    padding: 0 2rem;
  }

  #contact-form {
    text-align: center;
    padding: 0 15rem;
  }

  #subjects,
  .input,
  .message {
    width: 35vw;
  }

  #submit-btn {
    width: 9vw;
    margin-right: 38%;
  }

  footer .container {
    padding: 5rem 0;
  }

  footer .logo {
    width: 15%;
  }

  .footer-links {
    width: 20%;
    font-size: 4rem;
    margin: 3rem 0;
  }
}
